[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Scala port of ua-parser
[access "refs/*"]
	owner = group user/Nguyen Hong Phuc (phucnh)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Nguyen Hong Phuc (phucnh)
	label-Verified = -1..+1 group user/Nguyen Hong Phuc (phucnh)
	push = group user/Nguyen Hong Phuc (phucnh)
	read = group user/Nguyen Hong Phuc (phucnh)
	rebase = group user/Nguyen Hong Phuc (phucnh)
	removeReviewer = group user/Nguyen Hong Phuc (phucnh)
	submit = group user/Nguyen Hong Phuc (phucnh)
[access "refs/heads/*"]
	create = group user/Nguyen Hong Phuc (phucnh)
	push = +force group user/Nguyen Hong Phuc (phucnh)
	pushMerge = group user/Nguyen Hong Phuc (phucnh)
	read = group user/Nguyen Hong Phuc (phucnh)
[access "refs/tags/*"]
	push = group user/Nguyen Hong Phuc (phucnh)
	push = +force group user/Nguyen Hong Phuc (phucnh)
